[submodule "vorbis-tools"]
	path = lib/vorbis-tools
	url = https://gitlab.xiph.org/xiph/vorbis-tools.git
[submodule "ogg"]
	path = lib/ogg
	url = https://gitlab.xiph.org/xiph/ogg.git
[submodule "vorbis"]
	path = lib/vorbis
	url = https://gitlab.xiph.org/xiph/vorbis.git
[submodule "flac"]
	path = lib/flac
	url = https://gitlab.xiph.org/xiph/flac.git
