[submodule "vorbis-tools"]
	path = lib/vorbis-tools
	url = https://git.xiph.org/vorbis-tools.git
[submodule "ogg"]
	path = lib/ogg
	url = https://git.xiph.org/ogg.git
[submodule "vorbis"]
	path = lib/vorbis
	url = https://git.xiph.org/vorbis.git
[submodule "flac"]
	path = lib/flac
	url = https://git.xiph.org/flac.git
